.price_calendar{
    background-color: #ededed;
    border: 1px solid #eee;
    color: #666;
    /*padding: 10px 10px 0 10px;*/
    padding-top: 10px;
    font-family: Microsoft YaHei,Hiragino Sans GB;
    width: 480px;
    position: absolute;
    top: 50px;
    left: 50px;
    overflow: hidden;
}
.price_calendar .price_calendar_box{
    position: relative;
    width: 944px;
}
.price_calendar table{
    /*position: absolute;
    top: 0;
    left: 0;*/
    float: left;
    margin: 0 10px;
    border-collapse: collapse;
}
.price_calendar caption{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 5px;
}
.price_calendar thead th{
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 5px;
}
.price_calendar td{
    cursor: default;
    border-right: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
    width: 64px;
    height: 50px;
    overflow: hidden;
    vertical-align: top;
}
.price_calendar td.past,
.price_calendar td.sell_out,
.price_calendar td.item{
    background-color: #fff;
}

.price_calendar td span{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}
.price_calendar td .date{
    color: #666;
    text-align: left;
    padding-left: 8px;
    font-size: 12px;
    margin-bottom: 2px;
}
.price_calendar td.past .text{
    color: #ccc;
}
.price_calendar td.sell_out{
    background-color: #FAFAFA;
}
.price_calendar td.sell_out .text,
.price_calendar td.sell_out .date{
    color: #ccc;
}
.price_calendar .item{
    cursor: pointer;
}
.price_calendar .item:hover,
.price_calendar .item.current{
    background-color: #00A7E1;
}
.price_calendar .item:hover span,
.price_calendar .item.current span{
    color: #fff;
}
.price_calendar .weekend .date{
    color: #19A631;
}
.price_calendar .price{
    color: #333;
}
.price_calendar .lowest .price{
    color: #FF5200;
}
.price_calendar .price dfn{
    font-size: 8px;
    font-style: normal;
}


.price_calendar .calendar_text{
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #999;
}
.price_calendar .prev,
.price_calendar .next{
    position: absolute;
    left: 15px;
    top: 10px;
    width: 14px;
    height: 22px;
    background: url(../components/img/price_calendar.png) no-repeat;
    z-index: 10;
}
.price_calendar .month_control .disable{
    cursor: default;
}
.price_calendar .prev{
    background-position: 0 0;
}
.price_calendar .next{
    left: auto;
    right: 15px;
    background-position: -16px 0;
}
.price_calendar .prev:hover{
    background-position: 0 -48px;
}
.price_calendar .next:hover{
    background-position: -16px -48px;
}
.price_calendar .prev.disable,
.price_calendar .prev.disable:hover{
    background-position: 0 -24px;
}
.price_calendar .next.disable,
.price_calendar .next.disable:hover{
    background-position: -16px -24px;
}
